# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*/CompGr_first/CompGr_first/x64/Debug/CompGr_first.tlog/
*/CompGr_first/CompGr_first/x64/Debug/Renderin.104bf5f3.tlog/

x64/
Debug/
*.obj
*.pdb
*.ilk
*.tlog

.vs/
ipch/
*.ipch
Debug/
Release/
x64/
*.obj
*.pdb
*.ilk
*.tlog